html{
  background: #c5c6c6;
  max-width: 960px;
  margin: auto;
}

head{
  color: black;
  text-align: center;
  width: 50%;
  padding: 35px;
}

h2{
  text-align: center;
}

h3{
  padding-left: 10%;
  padding-right: 10%;
}

h4{
  font-size: 1.2em;
}

body{
  padding: 2%;
}

footer{
  text-align: center;
}

p{
  text-decoration-color: black;
}

button{
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  height: 30px;
  border: none;
  color: black;
}

.output{
  align:center;
  width: 33%;
  margin-left: 33%;
  margin-right: 33%
}

.header1{
  text-align: center;
}

.details{
  margin-left: 10%;
  margin-right: 10%;
}

.play{
  width: 10%;
  margin-left: 45%;
  margin-right: 45%;
}

.play:hover{
  background: lightgreen;
}

.record{
  margin-left: 50%;
  margin-right: 3%;
  margin-bottom: 5%;
  width: 45%;
}

.fileInput{
  margin-left: 7%;
  margin-right: 3%;
  width: 45%;
}

.dot:before {
  content: ' \25CF';
  font-size: 350%;
  margin-left: 5%;
}
